[Unit]
Description=Wake-on-LAN monitor — run every 10 minutes

[Timer]
OnCalendar=*:0/10
Persistent=true
OnBootSec=2min

[Install]
WantedBy=timers.target
